#ignore everything and then track folders
*
!*/

#things to track
!.gitignore
!*.py
!*.sh
!*.slurm
!filenames*.txt
!files/data/*.pkl
!files/model/*.npy

#specific files to ignore
*.out
*call.pkl
*text.pkl
*_call_*
*_text_*
egonet_kernel_*
egonet_ranks_*
graph_*.pkl

#specific dirs to ignore
__pycache__/
_old/
figures/_old/
figures/old/
